
.swiper-button-prev::after{
  font-size: 20px;
  font-weight: 900;
  text-shadow: 2px 1px 6px rgba(000, 000, 000, .6) ;
}
.swiper-button-next::after{
  font-size: 20px;
  font-weight: 900;
  text-shadow: 2px 1px 6px rgba(000, 000, 000, .6) ;
}